SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
REDIRECT_URI=http://localhost:5173/callback
PORT=5001
CLIENT_URL=http://localhost:5173
LASTFM_API_KEY=c501e8236cece9d37e200648658d7d13
GEMINI_API_KEY=AIzaSyC1g_bDIV2hilLRM-kwUY-x-cHSR1_p-XM
GROQ_API_KEY=
CREWAI_SERVICE_URL=http://localhost:8000